*{
    margin: 0;
    padding: 0;
}

:root{
    --black: #000000;
    --white: #ffffff;
}
body {
    background-image: url(./assets/show2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 802px; 
}

.nav-container{
    padding: 10px 15px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: 20px;
}
.link{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    cursor: pointer;
}
.link img{
    height: 40px;
    width: 40px; 
}
.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 80px;
    height: 500px;
    padding: 15px 25px;
    font-family: Anton, times, serif;
    text-transform: uppercase;
    font-weight: 650;
    color: #1BE1A2;
}
.button-discover{
    margin-top: 20px;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Anton, times, serif;
    letter-spacing: 3px;
    background-color:rgba(0,0,0,0.9);
    color: #1BE1A2;
    border: none;
    box-shadow: 0px 0px 3px rgba(27, 225, 162, 0.4) ;
}
.logo{
    height: 85px;
    width: 85px;
}

#map {
    width: 100%;
    height: 550px;
    border-radius: 10px;
}
.hide-container{
    display: none;
}

.map-section {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}
.filter-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: Anton, times, serif;
}
.filter-section input {
    margin-right: 10px;
}
.filter-section label{
    margin-right: 10px;
}
.footer-container{
    font-size: 15px;
    color:#1BE1A2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Anton, times, serif;
    margin-top: 130px;
}


.popupCustom,
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: rgba(0,0,0,0.5) !important;
    color: var(--white) !important;
    font-family: Open Sans, times, serif;
    font-size: 20px;
    border-radius: 10px;
    letter-spacing: 2px;
}


@media screen and (min-width: 768px) {
    .title{
        font-size: 70px;
    }
    .button-discover{
        height: 50px;
        width: 200px;
    }
    #map {
        height: 400px;
        width: 60%;
    }
    
} 
    



@media screen and (min-width: 1366px){
    #map {
        height: 400px;
        width: 60%;
    }

    .title{
        font-size: 70px;
    }
    .button-discover{
        height: 50px;
        width: 200px;
    }
} 



